.lnricon-preview {
    font-size: 24px;
    margin: 5px 0;
}

.select2-results__option .lnr {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    text-align: center;
}