body {
	color: #555;
	background-color: #e0e1e2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
}

ul,
ol {
	color: #222;
}

a:not([href]):not([tabindex]) {
	color: #222;
}

.page-heading {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.page-heading .icon {
	color: #222;
}

.page-heading h2 {
	color: #222;
}

.subheading span {
	border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.subheading span:before,
.subheading span:after {
	background-color: rgba(0, 0, 0, 0.6);
}

.input__field {
	border: 2px solid #999 !important;
	color: #222 !important;
}

.input__field:focus {
	border-color: #222;
}

.input--filled .input__field {
	border-color: #222;
}

.btn-main {
	border: 2px solid #222;
	color: #222;
}

.btn-main:hover,
.btn-main:focus {
	color: #fff;
}

.btn-main:after {
	background-color: #222;
}

blockquote {
	color: #222;
	border-left: 4px solid #222;
}

.preloader {
	background-color: #FBFBFB;
}

.header-main {
	background-color: #e0e1e2;
	border-color: #cccdce;
	-webkit-box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
	box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
}

.header-main .image-container .header-name {
	color: #fff;
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-main .image-container .header-name:before {
	background-color: #e0e1e2;
}

.header-main nav.nav-menu ul li {
	border-bottom: 1px solid #cccdce;
}

.header-main .nav-footer .social li a {
	color: #000;
	opacity: .75;
}

.header-main .name-container {
	border-bottom: 1px solid #cccdce;
}

header .header-mobile {
	background-color: #2a2b30;
}

.site-main .pt-page {
	background-color: #FBFBFB;
}

.about .about-info ul li span.title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	color: #222;
}

.services .service-item .icon {
	color: #222;
}

.testimonials .testimonial-item .testimonial-content {
	background-color: #e0e1e2;
	-webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
}

.testimonials .testimonial-item .testimonial-content:before {
	color: #555;
}

.testimonials .testimonial-item .testimonial-content:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #e0e1e2;
}

.resume ul.timeline li span.line-left {
	background-color: #555;
}

.resume ul.timeline li span.line-left:before,
.resume ul.timeline li span.line-left:after {
	border: 2px solid #555;
}

.resume .timeline .year {
	color: #222;
}

.skill-item .progress {
	background-color: #e0e1e2;
}

.skill-item .progress .progress-bar {
	background-color: #555555;
}

.skill-item .progress .progress-bar:after {
	border-bottom-color: #222;
}

.skill-item .progress .progress-value {
	color: #000;
}

.portfolio .portfolio-filter ul {
	border: 1px dashed rgba(0, 0, 0, 0.2);
}

.portfolio .portfolio-filter ul li {
	color: #555;
}

.portfolio .portfolio-filter ul li.active {
	background-color: #222;
	color: #FBFBFB;
}

.portfolio-no-image {
	background-color: #fff;
}

.post-page {
	background-color: #FBFBFB;
}

.post-page .post-heading {
	background-color: #FBFBFB;
}

.blog-list .blog-item {
	background-color: #f9f9f9;
	border: 1px solid #e3e3e3;
}

.blog-list .blog-item .blog-image {
	background-color: #E0E1E2;
}

.blog-list .blog-item .blog-content {
	background-color: #f9f9f9;
}

.blog-list .blog-item .blog-content .blog-date,
.post-page .post-heading .post-date {
	color: #777;
}

.blog-navigation .page-numbers li a {
	color: #222;
}

.blog-navigation .page-numbers .current {
	color: #222;
}

.post-full-content li a {
	color: #222;
}

.post-full-content ul>li:before {
	background: #222;
}

.post-meta .tag-links a {
	border: 1px solid #222;
}

.post-full-content a {
	color: #222;
}

.wp-block-button a.wp-block-button__link {
	color: #fff;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border-color: #32373c;
	color: #222;
}

.wp-block-quote.is-large.has-text-align-right,
.wp-block-quote.is-style-large.has-text-align-right,
.wp-block-quote.has-text-align-right {
	border-right: 4px solid #222;
}

select {
	background-color: #e0e1e2;
	color: #222;
	border-color: #e0e1e2;
}

.post-full-content .wp-block-calendar caption {
	color: #222;
}

.post-full-content .wp-block-calendar th {
	background-color: #e0e1e2;
	color: #222;
}

table,
th,
td {
	border: 2px solid #cccccc !important;
	color: #222;
}
table th {
	background-color: #e0e1e2;
}

.post-full-content .wp-block-calendar td {
	color: #222;
}

.post-full-content .wp-block-calendar a {
	color: #222;
}

pre {
	background-color: #e0e1e2;
	color: #222;
}

.wp-block-pullquote {
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: #e0e1e2;
}

.post-password-form label {
	color: #222;
}

.comments-container .post-comments .comment-list .comment .comment-text p {
	color: #222;
}

.comments-container .post-comments .comment-list .comment .comment-content .comment-date {
	color: #555;
}

.post-comments .comment-list .post-pingback a {
	color: #222;
}

.header-main nav.nav-menu ul li a {
	color: #000;
	opacity: .75;
}

.header-main nav.nav-menu ul li.current-menu-item>a {
	opacity: 1;
}

#sidebar .sidebar-button {
	background-color: #e0e1e2;
	border-left: 1px solid #cccdce;
	-webkit-box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
	box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
}

#sidebar .sidebar-button .icon {
	color: #222;
}

#sidebar {
	background-color: #e0e1e2;
	border-left: 1px solid #cccdce;
}

#sidebar.open {
	-webkit-box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
	box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
}

#sidebar .sidebar-content {
	background-color: #e0e1e2;
}

.sidebar-content .widget-title {
	color: #222;
}

.sidebar-content .widget-title:before {
	background: #cccdce;
}

.sidebar-content select {
	border: 1px solid #cccdce;
}

.sidebar-content table {
	border-color: #cccdce !important;
}

.sidebar-content table caption {
	background-color: #cccdce;
	color: #222;
}

.sidebar-content td {
	border-color: #cccdce !important;
}

.sidebar-content .search-form .search-submit {
	-webkit-filter: none;
    filter: none;
}

.widget_nav_menu .nav-menu-icon {
	display: none;
}

.sidebar-content input::-webkit-input-placeholder {
	color: #222;
}

.sidebar-content input::-moz-placeholder {
	color: #222;
}

.sidebar-content input:-ms-input-placeholder {
	color: #222;
}

.sidebar-content input::-ms-input-placeholder {
	color: #222;
}

.sidebar-content input::placeholder {
	color: #222;
}

.sidebar-content input,
.sidebar-content textarea {
	color: #222;
	border-bottom: 1px solid #cccdce;
}

.sidebar-content .tagcloud a {
	color: #222;
	border-color: #222;
}

button {
	border: 2px solid #222;
	color: #222;
}

button:after {
	background-color: #222;
}

button:hover,
button:focus {
	color: #fff;
}

header .header-mobile {
	background-color: #e0e1e2;
	-webkit-box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
	box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
}

header .header-mobile h2 {
	color: #222;
}

.header-main .header-toggle {
	background-color: #e0e1e2;
	border-right: 1px solid #cccdce;
}

.header-main .nav-footer .copy p {
	color: #000;
	opacity: .75;
}

@media screen and (max-width: 767px) {
	#sidebar .sidebar-button {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.ajax-portfolio-popup {
	background-color: #fbfbfb;
}

.ajax-portfolio-popup .navigation-wrap {
	background-color: #e0e1e2;
	-webkit-box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
	box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 35%);
}

.ajax-portfolio-popup .navigation-wrap .popup-close {
	color: #222;
}

.project-intro .project-info ul li span.title {
	color: #222;
}

.project-intro .project-link a {
	color: #222;
}

.comments-container .post-comments .comment-list>.comment {
	border-top: 1px solid #cccdce;
}

.comments-container .post-comments .comment-list {
	border-bottom: 1px solid #cccdce;
}